body{
     background-color: rgb(109, 154, 154);
       
        font-family: Arial, sans-serif;
       
    }
    .web{
        background-color: cornsilk; 
        color: white;
        padding: 10px;
        position: sticky;
        top: 0;
    }

    nav a{
        color: black;
        margin: 0 10px;
        text-decoration: none;
       
    }
    

    .flex{
     background-color: rgba(255, 145, 255, 0.363);   
     color: white;
     padding: 50px;
     text-align: center;
     
    }
    .self{
        animation: slideIn 2s ease;
    }
    @keyframes slideIn {
        0%{
            transform: translateY(-50px); opacity: 0;
        }
        100%{
            transform: translateY(0);opacity: 1;
        }
    }
    .cards{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 40px;
    }
    .card{
        background-color: aliceblue;
        border: 1px solid #704d6b48;
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.5s;
    }
    .card:hover{
        transform: scale(1.05);
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 30px;
    }

    .item{
        background: white;
        border: 1px solid black;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
    .tables{
        
        padding: 20px;
    }
    table{
        background-color: rgba(97, 70, 84, 0.715);
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td{
        padding: 10px;
        text-align: center;
    }



    footer{
        background: #222;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
    }