.ipl{
        background-color: rgb(103, 94, 140);
        color:white;
        margin: 10px;
        padding: 30px;
        border-radius: 10px;
        
    }
    h2:hover{
            
        background-color: pink;
        margin: 20px;
        padding: 20px;
        border-radius: 30px;
        color: black;
        border-width: 1px;
        border: 5px;
        text-align: center;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        
            
    }
    #team{
        text-align: center;
        position: sticky;
        top: 30px;
    }
    body{
        background-color: rgb(23, 196, 170);
    }